{{#if email}}
<h5 class="text-secondary"><i class="far fa-envelope mr-2"></i>Gmail account</h5>
<p class="text-muted mb-4">Google Account used to send emails from the application</p>
<div class="card mb-3" style="max-width: 40rem;">
    <div class="row align-items-center no-gutters">
        <div class="col-md-2 p-3">
            <img src="{{email.picture}}" class="card-img rounded-circle" alt="profile picture"
                style="height: 5rem; width: 5rem;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{email.name}}</h5>
                <p class="card-text">{{email.email}}</p>
            </div>
        </div>
        <div class="col-md-2">
            <a href="/auth/gmail" class="btn btn-primary my-auto">Change</a>
        </div>
    </div>
</div>
{{else}}
<div class="row justify-content-between align-items-center">
    <div class="col-md-6">
        <h5 class="text-secondary"><i class="far fa-envelope mr-2"></i>Gmail account</h5>
        <p class="text-muted">Google Account used to send emails from the application</p>
    </div>
    <div class="col-md-6">
        <a href="/auth/gmail" class="btn btn-primary">Add Account</a>
    </div>
</div>
{{/if}}